.navbar-background {
    background-color: rgba(190, 190, 190, 0.95);
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 70px;
}

.main-image-item-container {
    position: relative;
    text-align: center;
    color: #595959;
    height: 100vh;
    max-height: 80vw;
    overflow: hidden;
}

.over-image-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-header {
    padding: 10px;
}

.homeimage {
    width: 100%;
}

.options-header {
    margin: 40px;
}

.base-options-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    align-items: center !important;
    justify-content: center !important;
}

.option {
    display: grid;
    margin: 1em 1em;
    text-align: center;
}

a, a:hover {
    text-decoration: none;
    color: black;
    flex-basis: 30%;
}

a:hover {
    background-color: #c9c9c9;
    border-radius: 15px;
}

.preview-ID {
    margin: 0 auto;
}

.product-button {
    margin: 1em 2em;
}

/* Phone Styles */
@media only screen and (max-width: 420px) {
    .navbar-background {
        display: none;
    }

    .main-header {
        font-size: 5vw;
    }

    .over-image-items {
        width: 70vw;
    }

    .base-ID {
        width: 50vw;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 991px) {
    .navbar-background {
        display: none;
    }

    .main-header {
        font-size: 5vw;
    }

    .over-image-items {
        width: 70vw;
    }

    .base-ID {
        width: 50vw;
    }
}

/* Desktop Styles (Small Screens) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-header {
        font-size: 2.5em;
    }

    .over-image-items {
        width: 70vw;
    }

    .base-ID {
        width: 45vw;
    }
}

/* Desktop Styles (Larger Screens) */

@media only screen and (min-width: 1200px) {
    .main-header {
        font-size: 2.5em;
    }

    .over-image-items {
        width: 70vw;
    }

    .base-ID {
        width: 500px;
    }
}
