body {
    background-color: white;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/* NavBar Styles */

.navbar {
    margin: 0 auto;
}

.logo-image {
    position: absolute;
    top: 8px;
    left: 16px;
}

.beneath-navbar-break {
    border-bottom: solid black 7px;
    height: 107px;
}

/* Phone Styles */
@media only screen and (max-width: 420px) {
    body {
        background-color: #D6F8FA;    
    }
    
    .navbar {
        background-color: rgba(190, 190, 190, 0.8);
    }

    #navbarSupportedContent {
        background-color: rgba(210, 210, 210, 1);
        border-radius: 15px;
    }

    .logo-image {
        display: none;
    }

    .navbar-brand {
        margin: -10px 0;
    }

    .nav-item {
        text-align: center;
    }
    
        /* Body Styles */

    .description-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headers {
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        border: solid black 5px;
        border-radius: 15px;
        background-color: #D6F8FA;
        width: 85%;
    }


    .header-background {
        margin-top: 10vh;
        height: 30vh;
        background-image: url("images/ferpa_compliant.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .body-text {
        justify-content: center;
        text-align: center;
    }
    
    .about-us {
        margin: 5vh;
        text-align: center;
        justify-content: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        line-height: 2;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 991px) {
    .navbar {
        background-color: rgba(190, 190, 190, 0.8);
    }

    
    #navbarSupportedContent {
        background-color: rgba(210, 210, 210, 1);
        border-radius: 15px;
        margin: 0 28vw;
    }

    .logo-image {
        display: none;
    }

    .navbar-brand {
        margin: -10px 0;
    }

    .nav-item {
        text-align: center;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 992px) {
    .navbar {
        width: 630px;
        height: 70px;
        background: none;
    }

    .logo-image {
        display: block;
        position: fixed;
        top: 3px;

    }

    .navbar-brand {
        display: none;
    }

    .nav-item {
        width: 200px !important;
        text-align: center;
    }

    /* Body Styles */

    .description-text {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 100vh;
        margin-right: auto;
        margin-left: auto;
    }

    .headers {
        justify-content: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        border: solid black 5px;
        border-radius: 10px;
        background-color: #D6F8FA;
        width: 50%;
    }


    .header-background {
        margin-top: 10vh;
        margin-left: 5vw;
        margin-right: 5vw;
        height: 120vh;
        background-image: url("images/ferpa_compliant.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .body-text {
        justify-content: center;
        text-align: center;
    }
    
    .about-us {
        margin: 5vh;
        text-align: center;
        justify-content: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        line-height: 2;
    }
    
    p {
        font-size: 20px
    }
    
    h2 {
        margin-bottom: 20px;
    }
    
    .card {

        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }
    
    .card-text {
        font-size: 1.5em;
    }
    
    .card-title {
        font-size: 1.8em;
    }
}
