body {
    background-color: white;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/* NavBar Styles */

.text-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 60%;
}

.about {
    text-align: center;
}


/* Phone Styles */
@media only screen and (max-width: 420px) {
    body {
        background-color: #D6F8FA;
    }

    .logo-image {
        display: none;
    }

    .navbar-brand {
        margin: -10px 0;
    }

    .nav-item {
        text-align: center;
    }

    .row {
        margin-top: 5vh;
        padding: 0 4px;
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        flex: 50%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 991px) {

    .logo-image {
        display: none;
    }

    .navbar-brand {
        margin: -10px 0;
    }

    .nav-item {
        text-align: center;
    }

    .row {
        margin-top: 5vh;
        padding: 0 4px;
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        flex: 50%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 992px) {
    .navbar-brand {
        display: none;
    }

    .nav-item {
        width: 200px !important;
        text-align: center;
    }

    .row {
        margin-top: 10vh;
        padding: 0 4px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        margin-left: 10px;
    }

    .column {
        flex: 50%;
        padding: 0 4px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    .text-container {
        margin-top: 15vh;
        font-size: 1.6em;
        font-weight: bold;
    }

}