.body {
    min-width: 285px;
}

.background-picture {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.07;
}

.navbar-background {
    background-color: rgba(240, 240, 240, 0.9);
    width: 100vw;
    height: 70px;
    padding-bottom: 70px;
    position: fixed;
    z-index: 6;
}

.main-cart-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 2vw;
    width: 96vw;
    z-index: 3;
}

.products-in-cart {
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 13px;
    width: 62.75vw;
    padding: 1.5vw;
}

.item-in-cart {
    background-color: rgba(237, 237, 237, 0.8);
    border-radius: 13px;
    margin-top: 1.5vw;
    color: black;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item-in-cart:hover {
    background-color: #E6E6E6;
    text-decoration: none;
    color: black;
}

.item-header {
    width: 56.5vw;
    margin: 0;
}

.item-price {
    margin-bottom: 15px;
}

.delete-button {
    padding: 0 10px;
    margin-right: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #9C2100;
    color: white;
    font-size: 21px;
}

.preview-image {
    width: 40vw;
}

.subtotal-checkout {
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 13px;
    padding: 20px;
    margin-left: 2vw;
}

.checkout-button {
    padding: 0 10px;
    margin-right: 25px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #5c7ba6;
    color: white;
}

.page-footer {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.main-content-container {
    position: absolute;
    display: inline;
    z-index: 5;
}


/* Phone Styles */
@media only screen and (max-width: 420px) {
    .background-picture {
        width: 165vh;
    }
    
    .navbar-background {
        display: none;
    }

    .main-cart-container {
        margin-top: 75px;
    }
    
    .shopping-cart-header {
        margin-left: 7px;
    }
    
    .products-in-cart {
        width: 100%;
        margin-bottom: 17px;
    }
    
    .item-header {
        width: 98%;
        margin-top: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    .subtotal-checkout {
        width: 100%;
        height: 140px;
        margin: 0;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 991px) {
    .background-picture {
        width: 165vh;
    }
    
    .navbar-background {
        display: none;
    }

    .main-cart-container {
        margin-top: 85px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

    .subtotal-checkout {
        width: 31vw;
    }
}

@media only screen and (max-height: 500px) and (min-width: 421px) and (max-width: 991px) {
    .background-picture {
        width: 100vw;

    }
}

/* Desktop Styles (Small Screens) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-cart-container {
        margin-top: 95px;
    }

    .subtotal-checkout {
        width: 31vw;
        height: 140px;
    }
}

/* Desktop Styles (Larger Screens) */

@media only screen and (min-width: 1200px) {
    .main-cart-container {
        margin-top: 95px;
    }

    .subtotal-checkout {
        width: 31vw;
        height: 140px;
    }
}
